/* common styles */
img{
    object-fit: cover;
}

/* header */
#header{
    background-color: #F9F1E7;
}

/* top banner */
.banner-area{
    margin-top: 30px;
}
.banner-left-area{
    /* width: 35%; */
    padding: 65px 60px 55px;
    background-color: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
}

/* features*/
#feature{
    padding: 50px 0;
}
.feature-icon img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

/* products */
.product-img{
    width: 270px;
    height: 270px;
    border-radius: 5px;
}
.product-info{
    padding: 16px 26px 30px 16px;
}

/* blog */
#blog-area{
    padding-top: 50px;
}
.blog-area-title{
    margin-bottom: 30px;
}
article img{
    width: 100%;
    height: 250px;
    margin-bottom: 16px;
}

/* gallery */
#gallery{
    padding-top: 50px;
}
.gallery-title{
    margin-bottom: 40px;
}
.gallery-img-top{
    height: 400px;
}
.gallery-img-bottom{
    height: 250px;
}

/* footer */
footer{
    background-color: #F9F1E7;
    padding: 50px 0 40px;
}